
body{
  font-family: 'Titillium Web', sans-serif;
  background-color: #F5F5F5;
  font-weight: 800;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  padding-bottom: 3rem;
  font-size: 1rem;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

label {
  font-size: 1.1rem;
}

p {
  display: inline-block;
  padding: 75px;
  font-size: 1rem;
}

footer{
  background-color: #30475E;
  height: 8rem;
  text-align: center;
}

fieldset {
  display: inline-block;
  text-align: left;
  border: 0;
}

button {
  background-color: #30475E;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.login {
  text-align: center;
}

.bodyLink {
  display: inline-block;
  text-align: left;
  padding: 20px 20px 20px 0;
}

.footerLink {
  color: #F5F5F5;
  padding: 50px;
}

.input-box {
  padding: 20px 20px 20px 0;
}

.footer {
  padding-top: 2rem;
}

.changes {
  text-align: center;
}

.changeText {
  display: inline-block;
  text-align: left;
  border: 0;
}
